body {
    font-family: Lato, serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.2px;
    color: rgba(18, 18, 18, .9);
    background: white;
}

.breadcrumb-hr {
    width: 100%;
    margin-top: 0
}

.question {
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #333333;
    margin-bottom: 0.5em;
}

.text {
    font-family: Lato;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #333333;
    margin-bottom: 0.5em;
}

.choice-text {
    font-family: Lato;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #333333;
    margin-left: 0.5em;
}

.question-choices {
    font-family: Lato;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #333333;
    margin-bottom: 1em;
}

.natwest-logo {
    margin-top: 22px;
}

.col-no-pad-left {
    padding-left: 0
}

.col-no-pad-right {
    padding-right: 0
}

.col-footer {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-container {
    width: 100%;
    float:left;
    overflow:hidden; /* instead of clearfix div */
}

.footer-right{
    float:right;
}

.footer-left{
    float:left;
}

.natwest-text {
    color: #fe4a4b;
}

.text-cost {
    color: #fe4a4b;
}

.text-light {
    color: #7d7d7d;
    line-height: 1.50;
}

.text-large {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.50;
}

.text-footer {
    margin-top: 15px;
}

.btn-link {
    display: inline-block;
    padding: 10px 25px;
    text-transform: none;
    max-width: 320px;
    margin: 15px 0;
    border-radius: 30px;
    font: 400 1rem/1 Lato, sans-serif;
    background-color: #fe4a4b;
    color: #fff;
    border-bottom: none !important;
    font-size: calc(14px + 0.2vw);
    height: auto;
    text-decoration: none;
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-facebook {
    background-color: #3c599d;
    float: left;
    display: inline-block;
}

.panel {
    margin-top: 1.5em;
}

.breadcrumb {
    margin-bottom: 0.3em;
}

.breadcrumb > li {
    display: inline-block;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: rgba(18, 18, 18, .9);
}

.breadcrumb > li + li:before {
    color: #fe4a4b;
    content: "\00a0>\00a0";
}

.breadcrumb > .active {
    color: rgba(18, 18, 18, .9);
}

.breadcrumb a {
    color: rgba(18, 18, 18, .9);
    font-weight: lighter;
}

.responsive-width {
    font-size: 2vh;
}

.no-padding{
    padding: 0;
}