.score-bar-container {
    margin-bottom: 60px
}

.score-bar {
    height: 26px;
    padding: 3px;
    float: left;
    overflow: hidden;
    text-align: center;
}

.course-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
}